asgiref==3.5.2
Babel==2.10.3
certifi==2022.6.15
charset-normalizer==2.1.0
Django==4.0.6
django-ckeditor==6.4.2
django-js-asset==2.0.0
django-parler==2.3
django-phonenumber-field==6.3.0
django-taggit==3.0.0
gunicorn==20.1.0
idna==3.3
phonenumbers==8.12.51
PyJWT==2.4.0
python-dotenv==0.20.0
pytz==2022.1
requests==2.28.1
sqlparse==0.4.2
twilio==7.11.0
typing_extensions==4.3.0
tzdata==2022.1
urllib3==1.26.10
whitenoise==6.2.0
