<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>change passwor done</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    {% include 'components/header.html' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-lg "
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
        clip-rule="evenodd"
      />
    </svg>
    <h1 class="text-center text-xl">Password change successful Your</h1>
    <p class="text-center">password was changed.</p>
    {% include 'components/footer.html' %}
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
  </body>
</html>
