{% extends '../base.html' %}
{% load static %}
{% block title %} Change Password:Lamuni {% endblock %}
{% block content %} 
    <section class="flex flex-col md:flex-row md:space-x-12 px-6 md:px-0">
      <!-- sign-up form -->
       <div class="flex flex-row items-center justify-center md:w-3/5">

        <form  class="flex flex-col space-y-4 lg:space-y-6 md:px-12 lg:px-20 py-6 bg-white" action="" method="post">

          {% csrf_token %}
          <h1 class="text-3xl lg:text-4xl font-bold mb-10">
           Change Password
          </h1>
          <div class="flex flex-col space-y-3">
            <div class="flex flex-col space-y-4">
              <label class="text-xl" for="name">Old Password</label>
              <input
                class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"
                type="password"
                name="old_password"
                autocomplete="current-password"
                autofocus=""
                required=""
                id="id_old_password"
                placeholder="current password"
              />
              <p style="font-size: small; color: red">
                {% if form.errors %} {{ form.errors.old_password | striptags }} {% endif %}
              </p>
            </div>
            <div class="flex flex-col space-y-4">
              <label class="text-xl" for="name">New Password </label>
              <input
             class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"
               type="password" placeholder="new password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
              <p style="font-size: small; color: red">
                {% if form.errors %} {{ form.errors.new_password1 | striptags }} {% endif %}
              </p>
            </div>

            <div class="flex flex-col space-y-4">
              <label class="text-xl" for="name">Confirm Password</label>
              <input
            class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"
               type="password" 
               placeholder="confirm new password"
               name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
              <p style="font-size: small; color: red" class="md-6">
                {% if form.errors %} {{ form.errors.new_password2 | striptags }} {% endif %}
              </p>
            </div>
{#          <div class="text-sm text-dark-gray ">{% for field in form %} {{ field.help_text }} {% endfor %}</div>#}

          </div>

          <button
            type="submit"
            class="px-6 py-4 bg-dark-green text-white font-bold rounded-md mb-6"
          >
           Change Password
          </button>
          <div class="flex items-center start">
            <p class="text-lg">
              Forget Password?<a
                href="{% url 'login' %}"
                class="font-bold text-dark-green"
                > Reset</a
              >
            </p>
          </div>
        </form>
      </div>

      <!-- Image -->
{#      <div#}
{#        class="hidden bg-dark-green text-white w-1/2 md:flex flex-col py-16 align-middle items-center"#}
{#      >#}
{#        <div class="hidden md:flex flex-col py-8 align-middle items-center">#}
{#          {% for field in form %} {{ field.help_text }} {% endfor %}#}
{##}
{#          <img#}
{#            class="w-4/5"#}
{#            src="{% static '/img/photo/Plant mone Image.jpeg' %}"#}
{#            alt="image"#}
{#          />#}
{#        </div>#}

       <!-- Image -->
      <div class="hidden md:block bg-dark-green text-dark-green md:w-2/5">
          <div class="hidden sm:flex flex-col mt-32 items-center">
            <img
              class="w-4/5 align-middle"
              src="{% static '/img/photo/Plant mone Image.jpeg' %}"
              alt="image"
            />
          </div>
        </div>


    </section>
    {% endblock %} 
