{% extends '../base.html' %}
{% load static %}
{% block title %} Signup:Lamuni {% endblock %}
{% block content %} 
    <section class="flex flex-col md:flex-row md:space-x-12 px-6 md:px-0">
      <!-- sign-up form -->
        <div class="flex flex-row items-center justify-center md:w-3/5">
        <form  class="flex flex-col space-y-4 md:px-12 lg:px-20 py-6 bg-white" action="" method="post">
          {% csrf_token %}
          <h1 class="text-3xl lg:text-4xl font-bold">
            Create your Lamuni account
          </h1>
          <div class="flex flex-col space-y-3">
            <div class="flex flex-col space-y-2 sm:space-y-4">
<div class="flex flex-col space-y-2 sm:space-y-4">

    <label class="text-lg" for="id_username">Username:</label>
    <input type="text" name="username" maxlength="150" autofocus required id="id_username"  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green">

      <span class="helptext text-xs">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
 {{ form.username.errors }}

</div>

 <div class="flex flex-col lg:flex-row items-center justify-between">
     <div class="flex flex-col space-y-4 w-full lg:w-[48%]">

    <label class="text-lg" for="id_first_name">First name:</label>
    <input type="text" name="first_name" maxlength="150" id="id_first_name"  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green">
 {{ form.first_name.errors }}

</div>

     <div class="flex flex-col space-y-4 w-full lg:w-[48%]">
    <label class="text-lg" for="id_middle_name">Middle name:</label>
    <input type="text" name="middle_name" maxlength="100" required id="id_middle_name"  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green">
 {{ form.middle_name.errors }}

</div>
 </div>

 <div class="flex flex-col lg:flex-row items-center justify-between">
     <div class="flex flex-col space-y-4 w-full lg:w-[48%]">
    <label class="text-lg" for="id_last_name">Last name:</label>
    <input type="text" name="last_name" maxlength="150" id="id_last_name"  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green">
 {{ form.last_name.errors }}

</div>

     <div class="flex flex-col space-y-4 w-full lg:w-[48%]">

    <label class="text-lg " for="id_phone">Phone:</label>
    <input type="text" name="phone" maxlength="20" required id="id_phone"  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green">
 {{ form.phone.errors }}
</div>
 </div>


<div class="flex flex-col space-y-2 sm:space-y-4">

    <label class="text-lg" for="id_password1">Password:</label>
    <input type="password" name="password1" autocomplete="new-password" required id="id_password1"  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green">

      <span class="helptext text-xs"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>

     {{ form.password1.errors }}
</div>

<div class="flex flex-col space-y-2 sm:space-y-4">
    <label class="text-lg" for="id_password2">Password confirmation:</label>
    <input type="password" name="password2" autocomplete="new-password" required id="id_password2"  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green">

      <span class="helptext text-xs ">Enter the same password as before, for verification.</span>
    {{ form.password2.errors }}
</div>

                <button
            type="submit"
            class="px-6 py-4 bg-dark-green text-white font-bold rounded-md"
          >
            Create Lamuni Account
          </button>
          <div class="flex items-center justify-center">
            <p class="text-lg">
              Already have an account ? <a
                href="{% url 'login' %}"
                class="font-bold text-dark-green"
                >Log In</a
              >
            </p>
          </div>
            </div>
          </div>
        </form>















{##}
{#              <label class="text-lg" for="name">Username</label>#}
{#              <input#}
{#                class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"#}
{#                type="text"#}
{#                name="username"#}
{#                maxlength="150"#}
{#                autofocus=""#}
{#                required=""#}
{#                id="id_username"#}
{#                placeholder="Username..."#}
{#              />#}
{#              <p style="font-size: small; color: red">#}
{#                {% if form.errors %} {{ form.errors.username | striptags }} {% endif %}#}
{#              </p>#}
{#            </div>#}
{#            <div class="flex flex-col space-y-2 sm:space-y-4">#}
{#              <label class="text-xl" for="name">Name</label>#}
{#              <input#}
{#                class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"#}
{#                type="text"#}
{#                name="name"#}
{#                maxlength="100"#}
{#                required=""#}
{#                id="id_name"#}
{#                placeholder="Full Name"#}
{#              />#}
{#              <p style="font-size: small; color: red">#}
{#                {% if form.errors %} {{ form.errors.name | striptags }} {% endif %}#}
{#              </p>#}
{#            </div>#}
{##}
{#            <div class="flex flex-col space-y-2 sm:space-y-4">#}
{#              <label class="text-xl" for="name">Phone Number</label>#}
{#              <input#}
{#                class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"#}
{#                type="tel"#}
{#                name="phone"#}
{#                maxlength="128"#}
{#                required=""#}
{#                id="id_phone"#}
{#                placeholder="+2348028543654"#}
{#              />#}
{#              <p style="font-size: small; color: red">#}
{#                {% if form.errors %} {{ form.errors.phone | striptags }} {% endif %}#}
{#              </p>#}
{#            </div>#}
{#            <div class="flex flex-col lg:flex-row items-center justify-between">#}
{#              <div#}
{#                class="flex flex-col space-y-4 w-full mb-2 lg:mb-0 lg:w-[48%]"#}
{#              >#}
{#                <label class="text-xl" for="name">Password</label>#}
{#                <input#}
{#                  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"#}
{#                  type="password"#}
{#                  name="password1"#}
{#                  autocomplete="new-password"#}
{#                  required=""#}
{#                  id="id_password1"#}
{#                  placeholder="At least 8 characters"#}
{#                />#}
{#                <p style="font-size: small; color: red">#}
{#                  {% if form.errors %} {{ form.errors.password1 | striptags }}#}
{#                  {% endif %}#}
{#                </p>#}
{#              </div>#}
{#              <div class="flex flex-col space-y-4 w-full lg:w-[48%]">#}
{#                <label class="text-xl" for="name">Confirm Password</label>#}
{#                <input#}
{#                  class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"#}
{#                  type="password"#}
{#                  name="password2"#}
{#                  autocomplete="new-password"#}
{#                  required=""#}
{#                  id="id_password2"#}
{#                  placeholder="Rewrite Password"#}
{#                />#}
{#                <p style="font-size: small; color: red">#}
{#                  {% if form.errors %} {{ form.errors.password2 | striptags }}#}
{#                  {% endif %}#}
{#                </p>#}
{#              </div>#}
{##}
{#            </div>#}
{#          </div>#}
{#         <div class="text-sm text-dark-orange">{% for field in form %} {{ field.help_text }} {% endfor %}</div>#}
{##}
{#          <div class="flex items-center justify-between text-sm md:text-base">#}
{#            <p class="align-middle">#}
{#              <input#}
{#                class="h-4 w-4 accent-dark-green border-light-gray"#}
{#                type="checkbox"#}
{#                name="check"#}
{#                id="check"#}
{#                required  #}
{#              />#}
{#              by creating an account on lamuni you agree to the#}
{#              <a#}
{#                href="#"#}
{#                class="font-bold text-dark-green underline underline-offset-2"#}
{#              >#}
{#                Terms & Conditions</a#}
{#              >#}
{#            </p>#}
{#          </div>#}



      <!-- Image -->
        </div>
    <div class="hidden md:block bg-dark-green text-dark-green md:w-2/5">
          <div class="hidden sm:flex flex-col mt-32 items-center">
            <img
              class="w-4/5 align-middle"
              src="{% static '/img/photo/finance.jpeg' %}"
              alt="image"
            />
          </div>
        </div>

    </section>
    {% endblock %}
