{% extends '../base.html' %}
{% load static %}
{% block title %} Verify:Lamuni {% endblock %}
{% block content %} 


    <section class="flex flex-col md:flex-row md:space-x-12 px-6 md:px-0">
      <!-- sign-up form -->
      <div class="flex flex-row items-center justify-center md:w-3/5">
        <form  class="flex flex-col space-y-4 lg:space-y-6 md:px-12 lg:px-20 py-12 bg-white" action="" method="post">
          {% csrf_token %}
          <h1 class="text-3xl lg:text-4xl font-bold mb-10">
            Verify Your Lamuni Account
          </h1>
          <div class="flex flex-col space-y-3">
            <div class="flex flex-col space-y-4">
              <input 
                class="px-3 py-3 border border-light-gray rounded-md text-dark-black focus:outline-dark-green"
              type="text" name="code" maxlength="8" required="" id="id_code" placeholder="Enter Verification Code">
              <p style="font-size: small; color: red">
                {% if error %} {{ error }} {%endif %}
              </p>
            </div>
          </div>

    
          <button
            type="submit"
            class="px-6 py-4 bg-dark-green text-white font-bold rounded-md"
          >
            Verify
          </button>
        </form>
      </div>


         <!-- Image -->
      <div class="hidden md:block bg-dark-green text-dark-green md:w-2/5">
          <div class="hidden sm:flex flex-col py-16 items-center">
            <img
              class="w-4/5 align-middle"
              src="{% static '/img/photo/finance.jpeg' %}"
              alt="image"
            />
          </div>
        </div>

    </section>
    {% endblock %}