<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
     <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
   <title>{% block title %}Lamuni:Dashbord{% endblock  %}</title>
    <style>
        :root {
            --main-color: #4a76a8;
        }

        .bg-main-color {
            background-color: var(--main-color);
        }

        .text-main-color {
            color: var(--main-color);
        }

        .border-main-color {
            border-color: var(--main-color);
        }
    </style>
</head>
<body>
<section class="h-screen">
        <!-- heading -->
        <div class=" bg-white shadow py-2 relative" >
            <div x-data="{open: false}" class="mx-6 flex flex-row items-center justify-between">
                <div class="text-xl text-dark-green">
                    FSP  Admin
                </div>
                 <!-- fist nav items -->
                 <ul class="hidden sm:flex sm:items-center justify-end space-x-4">
                    <a class="bg-green-500 p-2 rounded-full text-white hover:bg-green-600 hover:scale-105 transition duration-150 ease-in-out" href="#"><li><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                      </svg></li></a>
                      <a class="bg-green-500 p-2 rounded-full text-white hover:bg-green-600 hover:scale-105 transition duration-150 ease-in-out" href="#"><li> <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
                      </svg></li></a>
                      <a class="bg-green-500 p-2 rounded-full text-white hover:bg-green-600 hover:scale-105 transition duration-150 ease-in-out" href="#"><li><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                      </svg></li></a>
                      <a href="#" class="flex-shrink-0 h-10 w-10 hover:scale-105 transition duration-150 ease-in-out relative">
                        <img
                             class="h-10 w-10 rounded-full"
                             src="https://images.unsplash.com/photo-1619914775389-748e5e136c26?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=100&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIwMTk4MjAw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=100"
                             alt=""
                             />
                             <div class="absolute right-0 bottom-1 h-2 w-2 bg-green-500 rounded-full">
                             </div>
                      </a>
                    </ul>


                        <!-- hamburger -->
                        <div class="sm:hidden" @click="open = !open">
                            <svg x-show="!open"xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                              </svg>
                              <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                              </svg>
                        </div>


                        <!--Second nav items -->
                        <div :class="{'flex': open, 'hidden': !open}" class="absolute left-0 top-10 h-screen w-full flex-col items-start  bg-white space-y-4 mt-2 sm:mt-0 text-dark-green sm:px-4 transition-all duration-300 ease-in-out">

                            <a href="/fsp_profile.html" class="px-6 py-2 shadow-sm flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                                <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                  </svg></span>
                                <span>Profile</span>
                        </a>

                    <a href="/loans.html" class="px-6 py-2 flex shadow-sm flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                            <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                              </svg></span>
                            <span>Loans</span>
                    </a>

                        <a href="/loans.html" class="px-6 py-2 shadow-sm flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                            <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                            </svg></span>
                            <span>Loans</span>
                    </a>
                        <a href="/loans.html" class="px-6 py-2 shadow-sm flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                            <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                            </svg></span>
                            <span>Loans</span>
                    </a>


                        </div>

            </div>



        </div>

        <!-- end of heading -->

        <!-- menu section -->

        <div class="flex flex-row">
            <!-- navigation -->
            <div class="hidden md:basis-1/5 sm:flex flex-col items-start h-full space-y-4 mt-2 sm:mt-4 text-dark-green sm:px-4 ">

                <a href="/fsp_profile.html" class="px-6 py-2 shadow flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                    <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg></span>
                    <span>Profile</span>
            </a>

            <a href="{% url 'loans:loans_list' %}" class="px-6 py-2 shadow flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                  </svg></span>
                <span>Loans</span>
        </a>

        <a href="/loans.html" class="px-6 py-2 shadow flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
            <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg></span>
            <span>Wallet</span>
    </a>


            </div>
             <!--end of navigation -->

             <!-- main section -->
            <div class="md:basis-4/5 flex flex-col bg-slate-100 px-4 sm:px-10 overflow-hidden">
                {# constent block #}
                {% block content %}

                {% endblock %}
                {# endblock content #}


             <div>

             </div>

            </div>



        </div>


</section>





<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart line -->
<script>
  const labels = ["January", "February", "March", "April", "May", "June"];
  const data = {
    labels: labels,
    datasets: [
      {
        label: "My First dataset",
        backgroundColor: "#1634a",
        borderColor: "#16a34a",
        data: [0, 10, 5, 2, 20, 30, 45],
      },
    ],
  };

  const configLineChart = {
    type: "line",
    data,
    options: {},
  };

  var chartLine = new Chart(
    document.getElementById("chartLine"),
    configLineChart
  );
</script>




</body>
</html>