<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- Required chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
   <title>{% block title %}Lamuni:Dashbord{% endblock  %}</title>
    <style>
        :root {
            --main-color: #4a76a8;
        }

        .bg-main-color {
            background-color: var(--main-color);
        }

        .text-main-color {
            color: var(--main-color);
        }

        .border-main-color {
            border-color: var(--main-color);
        }
    </style>
</head>
<body>
<section class="h-screen relative">
        <!-- heading -->
        <div class=" bg-white shadow py-2 relative" >
            <div x-data="{open: false}" class="mx-6 flex flex-row items-center justify-between">
               <a href="{% url 'users:index' %}"><div class="font-bold text-xl text-dark-green md:text-2xl sm:ml-4">
                   Lamuni
                </div>
               </a>
                 <!-- fist nav items -->
                 <ul x-data="{toggle: false}" class="hidden sm:flex sm:items-center justify-end space-x-4">
                    <a class="bg-green-500 p-2 rounded-full text-white hover:bg-green-600 hover:scale-105 transition duration-150 ease-in-out" href="#"><li><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                      </svg></li></a>
                      <a class="bg-green-500 p-2 rounded-full text-white hover:bg-green-600 hover:scale-105 transition duration-150 ease-in-out" href="#"><li> <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
                      </svg></li></a>
                      <a class="bg-green-500 p-2 rounded-full text-white hover:bg-green-600 hover:scale-105 transition duration-150 ease-in-out" href="#"><li><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                      </svg></li></a>

                          <div class="relative " @click="toggle = !toggle">
                               <a href="#" class="flex-shrink-0 h-10 w-10 hover:scale-105 transition duration-150 ease-in-out relative">
                               <img
                             class="h-10 w-10 rounded-full"
                             src="https://avatars.githubusercontent.com/u/68012668?v=4"
                             alt=""
                             />
                             <div class="absolute right-0 bottom-1 h-2 w-2 bg-green-500 rounded-full">
                             </div>
                               </a>
                              <div :class="{'flex': toggle, 'hidden': !toggle}" class="absolute right-0 mt-5 top-10 px-12 py-4 space-y-4 bg-white flex-col items-center rounded shadow">
                                  <div class="text-sm text-gray-500">
                                      settings
                                  </div>
                                    <div class="text-sm text-gray-500">
                                      settings
                                  </div>
                                    <div class="text-sm text-gray-500">
                                      settings
                                  </div>

                              </div>

                          </div>



                    </ul>


                        <!-- hamburger -->
                        <div class="sm:hidden" @click="open = !open">
                            <svg x-show="!open"xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                              </svg>
                              <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                              </svg>
                        </div>


                        <!--Second nav items -->
                        <div :class="{'flex': open, 'hidden': !open}" class="absolute left-0 top-10 h-screen w-full flex-col items-start  bg-white space-y-4 mt-2 sm:mt-0 text-dark-green sm:px-4 transition-all duration-300 ease-in-out">

                            <a href="{% url 'loans:profile' %}" class="px-6 py-2 shadow-sm flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                                <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                  </svg></span>
                                <span>Profile</span>
                        </a>

                    <a href="{% url 'loans:loans_list' %}" class="px-6 py-2 flex shadow-sm flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                            <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                              </svg></span>
                            <span>Loans</span>
                    </a>

                         <a href="/loans.html" class="px-6 py-2 shadow flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
            <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg></span>
            <span>Wallet</span>
    </a>


                        </div>

            </div>



        </div>

        <!-- end of heading -->

        <!-- menu section -->

        <div class="flex flex-row">
            <!-- navigation -->
            <div class="hidden md:basis-1/5 sm:flex flex-col items-start h-full space-y-4 mt-2 sm:mt-4 text-dark-green sm:px-4 ">
    <a href="{% url 'loans:dashboard' %}" class="px-6 py-2 shadow shadow-light-gray flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
</svg>

        </span>
        <span>Home</span>
            </a>
                <a href="{% url 'loans:profile' %}" class="px-6 py-2 shadow shadow-light-gray flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                    <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg></span>
                    <span>Profile</span>
            </a>

            <a href="{% url 'loans:loans_list' %}" class="px-6 py-2 shadow shadow-light-gray flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
                <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                  </svg></span>
                <span>Loans</span>
        </a>

        <a href="/loans.html" class="px-6 py-2 shadow shadow-light-gray flex flex-row items-center space-x-4 w-full hover:bg-dark-green hover:text-white rounded-xl hover:scale-105 transition duration-150 ease-in-out">
            <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg></span>
            <span>Wallet</span>
    </a>


            </div>
             <!--end of navigation -->

             <!-- main section -->
            <div class=" md:basis-4/5 w-full flex flex-col bg-slate-100 px-4 sm:px-10 h-screen overflow-y-auto overflow-x-hidden">
            <form class="flex items-center px-2 sm:px-6 w-20 sm:w-36 py-2 bg-white my-2 shadow-sm shadow-light-gray text-dark-green hover:bg-dark-green hover:text-white hover:scale-105 rounded-xl transition duration-150 ease-in-out">

                      <label for="back">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 sm:h-6 sm:w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
         <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
                </label>
                <input class="text-xs sm:text-base"  id="back" type="button" value="Go back!" onclick="history.go(-1)">
             </form>
                    {# constent block #}
                {% block content %}

                {% endblock %}
                {# endblock content #}


             <div>

             </div>

            </div>



        </div>


</section>









</body>
</html>