{% extends 'fsp/fsp-base.html' %}
{% block content %}
<div class="flex flex-col-reverse md:flex-row">
                    <!-- Line Chart -->
                    <div class="md:w-9/12 mt-5 md:mt-0 ">
                        <div class=" shadow-lg rounded-lg overflow-hidden bg-white sm:m-5">
                            <div class="py-3 px-5 ">Money Given</div>
                            <canvas class="p-5 sm:p-10" id="chartLine"></canvas>
                          </div>

                          <div class="my-4"></div>

                    </div>
                           <!-- End of Line Chart -->


                     <div class="md:w-3/12 flex flex-col items-center justify-around space-y-6 mt-5 sm:mt-0 md:space-y-0">
                        <!-- children -->
                        <div class="flex w-full  items-center space-x-6 justify-between py-5 px-4 bg-white rounded-lg ">
                            <div class="flex flex-col items-center space-y-1 sm:space-y-2">
                                <p class="text-dark-green">Loans Given</p>
                                <p>last 30 days</p>
                            </div>
{#                            {% for loan in loans %}#}
                            <h3 class="sm:text-2xl text-dark-gray">{{ data.number_of_approved }}</h3>
{#                            {% endfor %}#}
                        </div>
                        <div class="flex w-full  items-center space-x-6 justify-between py-5 px-4 bg-white rounded-lg ">
                            <div class="flex flex-col items-center space-y-1 sm:space-y-2">
                                <p class="text-dark-green">Money Given</p>
                                <p>last 30 days</p>
                            </div>
                            <h3 class="sm:text-2xl text-dark-gray">5,000,000</h3>
                        </div>
                        <div class="flex w-full  items-center space-x-6 justify-between py-5 px-4 bg-white rounded-lg ">
                            <div class="flex flex-col items-center space-y-1 sm:space-y-2">
                                <p class="text-dark-green">Loans Given</p>
                                <p>last 30 days</p>
                            </div>
                            <h3 class="sm:text-2xl text-dark-gray">5000</h3>
                        </div>

                    </div>


                </div>



<!-- Chart line -->
<script>
  const labels = ["January", "February", "March", "April", "May", "June"];
  const data = {
    labels: labels,
    datasets: [
      {
        label: "My First dataset",
        backgroundColor: "#1634a",
        borderColor: "#16a34a",
        data: [0, 10, 5, 2, 20, 30, 45],
      },
    ],
  };

  const configLineChart = {
    type: "line",
    data,
    options: {},
  };

  var chartLine = new Chart(
    document.getElementById("chartLine"),
    configLineChart
  );
</script>

{% endblock %}