{% extends 'fsp/fsp-base.html' %}
{% block title %}Lamuni:Loans{% endblock %}

{% block content %}
<div class="flex flex-col text-left m-10">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div
                 class="
                        shadow
                        overflow-hidden
                        border-b border-gray-200
                        sm:rounded-lg
                        "
                 >
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                        scope="col"
                        class="
                               px-6
                               py-3
                               text-left text-xs
                               font-medium
                               text-gray-500
                               uppercase
                               tracking-wider
                               "
                        >
                      Name
                    </th>
                    <th
                        scope="col"
                        class="
                               px-6
                               py-3
                               text-left text-xs
                               font-medium
                               text-gray-500
                               uppercase
                               tracking-wider
                               "
                        >
                      Time Applied
                    </th>
                    <th
                        scope="col"
                        class="
                               px-6
                               py-3
                               text-left text-xs
                               font-medium
                               text-gray-500
                               uppercase
                               tracking-wider
                               "
                        >
                      Time To Pay
                    </th>
                    <th
                        scope="col"
                        class="
                               px-6
                               py-3
                               text-left text-xs
                               font-medium
                               text-gray-500
                               uppercase
                               tracking-wider
                               "
                        >
                        Recommended
                    </th>
                    <th scope="col" class=" px-6
                               py-3
                               text-left text-xs
                               font-medium
                               text-gray-500
                               uppercase
                               tracking-wider">
                     Grand
                    </th>
                      <th scope="col" class=" px-6
                               py-3
                               text-left text-xs
                               font-medium
                               text-gray-500
                               uppercase
                               tracking-wider">
                     Deny
                    </th>
                  </tr>
                </thead>
                  {% for beneficiary in beneficiaries %}
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-center">
                          <a href="">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 h-10 w-10">
                          <img
                               class="h-10 w-10 rounded-full"
                               src="{{ beneficiary.user.image.url }}"
                               alt=""
                               />
                        </div>
                        <div class="ml-4">
                          <div class="text-sm font-medium text-gray-900">
                            {{ beneficiary.user }}
                          </div>
                          <div class="text-sm text-gray-500">
                            {{ beneficiary.user }}
                          </div>
                        </div>
                      </div>
                               </a>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-gray-900">{{ beneficiary.time_applied.date }}</div>
                      <div class="text-sm text-gray-500">{{ beneficiary.time_applied.time }}</div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                     <div class="text-sm text-gray-900">{{ beneficiary.time_to_pay.date }}</div>
                      <div class="text-sm text-gray-500">{{ beneficiary.time_to_pay.time }}</div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
                      {{ beneficiary.is_recommended }}
                    </td>
                    <td
                        class="
                               px-6
                               py-4
                               whitespace-nowrap
                              text-sm
                               font-medium
                               "
                        >
                      <a href="#" class="text-indigo-400 hover:text-indigo-600"
                         ><span class="px-4 py-1 text-green-600 bg-green-200 rounded-full">Grand</span></a
                        >
                    </td>
                      <td
                        class="
                               px-6
                               py-4
                               whitespace-nowrap
                                text-sm
                               font-medium
                               "
                        >
                      <a href="#" class="text-indigo-400 hover:text-indigo-600"
                         ><span class="px-4 py-1 text-red-600 bg-red-200 rounded-full">Deny</span></a
                        >
                    </td>
                  </tr>



            </tbody>
                  {% endfor %}
              </table>

            </div>
          </div>
         <div class="my-20 flex items-center justify-end">
            <a href="{% url 'lessons:lessons' %}"><button class="sm:px-6 py-2 px-4 bg-white sm:py-4 shadow-md shadow-light-gray text-dark-green hover:bg-dark-green focus:bg-dark-green hover:text-white focus:text-white font-bold rounded-md">Grand Recommended</button></a>
        </div>
        </div>
      </div>
{% endblock %}