@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    @apply font-Poppins
}

.active {
    left: 0;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.heading-1 {
    @apply capitalize text-center text-3xl md:text-5xl font-medium
}
.ul-item {
    @apply text-lg  sm:text-2xl sm:tracking-wide
}


.quiz-container input:checked ~ .quiz-answer {
    @apply shadow-md border-2 border-dark-green  bg-light-green text-dark-green
}

.quiz-container input:checked ~ .quiz-answer .quiz-choice {
    @apply hidden
}


.quiz-container input:checked ~ .quiz-answer .quiz-checked {
    @apply inline text-white
}
