@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    @apply font-Poppins
}

.active {
    left: 0;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.heading-1 {
    @apply capitalize text-center text-3xl md:text-5xl font-medium
}
.ul-item {
    @apply text-lg  sm:text-2xl sm:tracking-wide
}


.quiz-container input:checked ~ .quiz-answer {
    @apply shadow-md border-2 border-dark-green  bg-light-green text-dark-green
}

.quiz-container input:checked ~ .quiz-answer .quiz-choice {
    @apply hidden
}


.quiz-container input:checked ~ .quiz-answer .quiz-checked {
    @apply block text-white
}

.button-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 1px 1px;
}

.education-nav {
    transform: translateX(0);
}

.form-label {
    @apply text-sm text-gray-700 block mb-1 font-medium
}

.form-input {
    @apply bg-white border border-gray-200 rounded py-1 px-3 block focus:ring-green-500 focus:border-green-500 text-gray-700 w-full
}

.errorlist {
    @apply text-xs text-red-500
}