<html lang="en" class="print:"m-0>
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>financialStatement</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
        @page {
            size: A4;
            margin: 0;
          }
        @media print {
            html, body {
                width: 210mm;
                height: 297mm;
              }
            .table-header {
                background-color: #16a34a !important;
                -webkit-print-color-adjust: exact;
            }
            .bg-light-gray {
                background-color: #c7c3c0 !important;
                -webkit-print-color-adjust: exact;
            }
              
        }
    </style>
</head>
<body>


    <div class="container mx-auto mt-2">
        <header class="flex justify-between items-center border border-light-gray">

            <div class="ml-2">
                <h1 class="text-dark-green font-medium text-3xl font-Poppins">MONTLY FINANCIAL REPORT</h1>
                <h2 class="font-medium font-Poppins text-dark-gray">LAMUNI LIMITED</h2>
            </div>
            <span class="mr-2 text-dark-gray">
                <h1>JULY 2022</h1>
            </span>
        </header>

        <div class="main-table">
                        
            <div class="overflow-x-auto relative">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs table-header text-white uppercase bg-dark-green">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Metric
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Current Report
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Previous Report
                            </th>
                            <th scope="col" class="py-3 px-6">
                                (%) Change 
                            </th>
                            <!-- <th scope="col" class="py-3 px-6">
                                Action
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-light-gray  text-dark-gray">
                            <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                                REVENUES
                            </th>
                            <td class="py-4 px-6">
                                $234,575,70
                            </td>
                            <td class="py-4 px-6 flex items-center">
                                $9764,6358
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-dark-green" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12" />
                                </svg>
                            </td>
                            <td class="py-4 px-6">
                                4%
                            </td>
                            <!-- <td class="py-4 px-6">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td> -->
                        </tr>
                        <tr class="bg-white text-dark-gray">
                            <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                                REVENUES
                            </th>
                            <td class="py-4 px-6">
                                $4234,575.00
                            </td>
                            <td class="py-4 px-6 flex items-center">
                                $9764,6358
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-dark-green" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12" />
                                </svg>
                            </td>
                            <td class="py-4 px-6">
                                2%
                            </td>
                            <!-- <td class="py-4 px-6">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td> -->
                        </tr>
                        <tr class="bg-light-gray text-dark-gray">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                REVENUES
                            </th>
                            <td class="py-4 px-6">
                                $975,969
                            </td>
                            <td class="py-4 px-6 flex items-center">
                                $9764,6358
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-dark-green" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12" />
                                </svg>
                            </td>
                            <td class="py-4 px-6">
                                3%
                            </td>
                            <!-- <td class="py-4 px-6">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td> -->
                        </tr>
                        <tr class="bg-white text-dark-gray">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                                REVENUES
                            </th>
                            <td class="py-4 px-6">
                                $86,9757,08
                            </td>
                            <td class="py-4 px-6 flex items-center">
                                $9764,6358
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-dark-green" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12" />
                                </svg>
                            </td>
                            <td class="py-4 px-6">
                                1%
                            </td>
                            <!-- <td class="py-4 px-6">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td> -->
                        </tr>
                        <tr class="bg-light-gray text-dark-gray">
                            <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                                REVENUES
                            </th>
                            <td class="py-4 px-6">
                                $48,853.00
                            </td>
                            <td class="py-4 px-6 flex items-center">
                                $9764,6358
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-dark-green" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12" />
                                </svg>
                            </td>
                            <td class="py-4 px-6">
                                8%
                            </td>
                            <!-- <td class="py-4 px-6">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>