{% extends "base.html" %} {% load static %} 
{% block title %} Lamuni{% endblock %}
{% block content %}
<section class="bg-white">
  <div
    class="container mx-auto px-8 pt-6 pb-12 flex flex-col-reverse sm:flex-row"
  >
    <!-- Hero  texrrt -->
    <div
      class="flex flex-col items-center justify-center sm:items-start space-y-6"
    >

      <h2 class="text-3xl md:text-5xl lg:text-6xl font-bold">
        Let A.I do the paper work for you focus on spending the credit.
      </h2>
      <p class="text-xs sm:text-base text-light-gray">
        And Fsp Can Create Credit Programs For MSME's setting custom
        requirements and having ability to access applicants data statistically
        and make smart decisions
      </p>
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 items-center"
      >
        <button
          class="px-12 py-3 sm:px-4 sm:py-3 bg-dark-green hover:bg-light-green rounded-md text-white"
        >
          <a href="/accounts/signup" class="text-sm">Try For Free</a>
        </button>
        <p
          class="px-12 py-3 sm:px-4 sm:py-3 underline underline-offset-4 text-dark-green hover:text-light-green rounded-md"
        >
          <a href="/lessons/list/" class="text-sm">Educate Myself</a>
        </p>
      </div>
    </div>
    <!-- here image -->

    <div class="flex-none flex justify-center w-full sm:w-2/4 mb-6">
      <img src="{% static 'img/photo/saving money.jpeg' %}" alt="" />
    </div>
    <div></div>
  </div>
</section>

<!-- Why Us -->
<section>
  <div class="container mx-auto px-8 py-12 mt-6">
    <div class="flex flex-col space-y-6">
      <h3 class="font-bold text-lg text-dark-green">Why Lamuni ?</h3>
      <h2 class="font-bold text-2xl sm:text-3xl max-w-md">
        We Make it easy for both the FSP's and MSME's
      </h2>
    </div>
    <!-- grid -->
    <div class="my-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <!-- grid 1 -->
      <div class="py-4 flex flex-col space-y-3">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8 text-dark-green"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
        <h4 class="text-sm font-bold">Add Daily Records</h4>
        <p class="text-dark-gray font-light">
collects MSME's daily financial record, and ask some basic questions to generate
a financial statement, mini statement, balance
sheet and other necessary documents to apply for
credit using Artificial Intelligence, which we'll be
automatically using when ever the MSME apply for
credit.
        </p>
      </div>
      <!-- grid 2 -->
      <div class="py-4 flex flex-col space-y-3">
        <span
          class="flex -space-x-3 bg-dark-green w-8 mx-1 py-1 rounded-lg justify-center mt-1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-white"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-white"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        <h4 class="text-sm font-bold">Get Personalise Dashboard To Acess Data (for FSP's)</h4>
        <p class="text-dark-gray font-light">
          Give FSP's access to individualize dashboard
where they can create credit product, set
requirements, and target specific or broad
category of MSME's, after MSME's have applied, we
then use A.I to recommend eligible MSME's to the
FSP,  while giving the FSP the ability on the
dashboard to just accept the algorithms based
recommended applicant or dig into individual's
data and make decision in no time.

        </p>
      </div>
      <!-- grid 3 -->
      <div class="py-4 flex flex-col space-y-3">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8 text-dark-green"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 18h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"
            />
          </svg>
        </span>
        <h4 class="text-sm font-bold">Language isn't a barear</h4>
        <p class="text-dark-gray font-light">
     Using local languages to educate MSMEs in
business management through lessons and
quizzes to enhance their eligibility for credit, using
the resources given from smesabi.com, the more
knowledge learned by an MSME on our platform
the more it add value when the algorithm is
recommending eligible applicant, thus building
trust with the MSME's and reducing risk for the
FSP's

        </p>
      </div>
    </div>

    <div
      class="flex flex-col sm:flex-row bg-dark-green rounded-md mt-6 sm:mt-16"
    >
      <div class="flex flex-col space-y-6 justify-center px-6 mt-12 md:mt-0">
        <h2
          class="font-bold text-2xl sm:text-3xl md:text-4xl max-w-md text-white"
        >
          You use A.I for Good
        </h2>
        <p
          class="text-light-gray max-w-lg font-light text-lg sm:text-xl tracking-wide"
        >
     Unbiased A.I based algorithm that uses several factors such as MSME's record keeping, sector,
specific needs, past history of credit repayment, verification and
come up with a credit eligibility score, thus reducing risk for the
FSP's and equally making it easy for MSME's to access credit
        </p>
        <div class="flex flex-row items-center sm:items-start">
          <button
            class="px-12 py-3 sm:px-4 sm:py-3 bg-white rounded-lg text-dark-purple"
          >
            <a href="/accounts/signup" class="text-sm">Start Free Trial</a>
          </button>
        </div>
      </div>

      <!-- Page Image -->
      <div class="flex-none px-6 h-38 sm:w-2/4 mt-12">
        <img
          class="h-full"
          src="{% static '/img/photo/finance.jpeg' %}"
          alt="Image"
        />
      </div>
    </div>

    <!-- <div
          class="mt-16 flex flex-col sm:flex-row sm:space-x-12 justify-around items-center"
        > -->
 
  </div>
</section>

{% endblock %}
