                  {% extends 'education_base.html' %}
                    {% block title %}Lamuni:Lesson{% endblock title %}

{% block content %}

                        {% for lesson in lessons %}
                            <a href="{{ lesson.get_absolute_url }}">
                        <div class="flex justify-between transition ease-in-out delay-150 duration-300 cursor-pointer hover:bg-gray-100 topic-1 card mx-auto overflow-hidden rounded-lg">

                            <div class="px-4 py-2 -mx-3">
                                <div class="mx-3">
                                    <span class="font-semibold text-dark-green ">{{ lesson.title }}</span>
                                    <p class="text-sm text-gray-900 font-bold ">{{ lesson.desc }}</p>
                                </div>
                            </div>

                            <div class="flex items-center justify-center text-dark-green w-12">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-8 sm:w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </div>
                        </div>
                            </a>
                        {% empty %}
                         <p class="text-center">No Lesson Yet</p>
                        {% endfor %}

{% endblock %}