{% extends "education_base.html" %} {% load static %}
{% block title %} {{lesson.title}}{% endblock %}
{% block content %}
    <!-- HEADING SECTION -->
    <section class="container mx-auto max-w-[950px] my-10 px-8">
        <div class="flex flex-col items-center space-y-8 flex-wrap">
            <div class="flex">
                <h1 class="heading-1">Guide to css positions</h1>
            </div>
            <div class="flex flex-col sm:flex-row items-center justify-between space-x-4 text-dark-gray">

                <div class="flex items-center justify-between space-x-2 my-2">
                    <div>
                        <span class="text-sm md:text-base">Jul 18, 2022</span>
                    </div>
                <span>·</span>
                    <div class="flex items-center space-x-2 text-dark-green"><span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                      </svg></span> <span>3 min read</span>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- Blog Image -->
    <section class="container mx-auto max-w-[950px] my-10 px-8">
        <img src="https://nikhilkhetan.hashnode.dev/_next/image?url=https%3A%2F%2Fcdn.hashnode.com%2Fres%2Fhashnode%2Fimage%2Fupload%2Fv1658120746723%2F7lCpoaKUJ.png%3Fw%3D1600%26h%3D840%26fit%3Dcrop%26crop%3Dentropy%26auto%3Dcompress%2Cformat%26format%3Dwebp&w=3840&q=75" alt="Blog Image">

    </section>

    <!-- Table of Content -->
    <section class="container my-10 mx-auto max-w-[950px] items-start px-8">
        <div class="border-2 border-light-gray p-6 space-y-4 rounded-md">
            <div class="flex items-center space-x-2">
                <span><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
                  </svg></span>
                  <h2 class="uppercase text-lg sm:text-xl">Table of Content</h2>
            </div>
            <div class="">
                <ul class="border-l-[1px] border-l-light-gray">
                    <li class="ml-4 hover:text-dark-green hover:shadow-lg p-2 rounded-md"><a href="#">Static :</a></li>
                    <li class="ml-4 hover:text-dark-green hover:shadow-lg p-2 rounded-md"><a href="#">Absolute :</a></li>
                    <li class="ml-4 hover:text-dark-green hover:shadow-lg p-2 rounded-md"><a href="#">Fixed :</a></li>
                    <li class="ml-4 hover:text-dark-green hover:shadow-lg p-2 rounded-md"><a href="#">Relative :</a></li>
                </ul>
            </div>

        </div>

    </section>

    <!-- main blog -->


    <section class="container mx-auto max-w-[950px] px-8">
        {{lesson.blog|safe}}

                    <!-- tags -->
        <div class="flex justify-start items-center text-white space-x-4 my-10 flex-wrap">
            <div class="my-2">
                <button class="bg-dark-green px-4 md:px-6 py-2 rounded-full shadow-inner hover:bg-green-700">Html</button>
            </div>
            <div class="my-2">
                <button class="bg-dark-green px-4 md:px-6 py-2 rounded-full  shadow-inner hover:bg-green-700">Development</button>
            </div>
            <div class="my-2">
                <button class="bg-dark-green px-4 md:px-6 py-2 rounded-full shadow-inner hover:bg-green-700">FrontEnd</button>
            </div>
            <div class="my-2">
                <button class="bg-dark-green px-4 md:px-6 py-2 rounded-full shadow-inner hover:bg-green-700">Css</button>
            </div>
        </div>



        
        
    </section>
    <section class="container mx-auto flex justify-center sm:justify-end px-8 my-10 ">

          <a  href="{%  url 'lessons:completed' lesson.id %}" class=""> <button type="submit" class="flex items-center bg-light-green text-dark-green hover:bg-dark-green hover:text-white border-[1px] border-dark-green px-3 py-2 rounded-md space-x-2">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            </span>Mark As Read</button></a>

    </section>

    {% endblock %}