{% extends 'education_base.html' %}

{% block title %}Lamuni:Lesson Done{% endblock %}
{% block content %}
       <section class="container mx-auto max-w-[950px] my-10 px-8 text-dark-black">
        <div class="flex flex-col items-center justify-between space-y-12 border-2 rounded-md p-10 bg-white shadow-lg shadow-light-gray my-5">
            <div class="">
                <p class="text-lg sm:text-3xl text-dark-green">Lesson {{ lesson.id }} Completed</p>
            </div>
            <div>
                <p class="text-base sm:text-2xl text-dark-black">Comment: Nice Keep It Up</p>
            </div>
            <a class="block" href="{{ lesson.get_quiz_url }}"><button class="sm:px-6 py-2 px-4 sm:py-4 border-2 border-dark-green text-dark-green  hover:bg-dark-green focus:bg-dark-green hover:text-white focus:text-white font-bold rounded-md">Take Quiz</button></a>

        </div>

        <div class="my-20 flex items-center justify-between">
            <a href="{{ lesson.get_absolute_url }}"><button class="sm:px-6 py-2 px-4 sm:py-4 border-2 border-dark-green text-dark-green  hover:bg-dark-green focus:bg-dark-green hover:text-white focus:text-white font-bold rounded-md">Read Again</button></a>
            <a href="{% url 'lessons:lessons' %}"><button class="sm:px-6 py-2 px-4 sm:py-4 border-2 border-dark-green text-dark-green  hover:bg-dark-green focus:bg-dark-green hover:text-white focus:text-white font-bold rounded-md">Next Lesson</button></a>
        </div>
    </section>

{% endblock %}