<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
<form method='post' action=''>
    {% csrf_token %}
    {% for q in questions %}
    <div class="form-group">
        <label>{{q.question}}</label>
    </div>
    <div class="form-check">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" value="A">
            <label class="form-check-label" for="gridRadios1">
                {{q.option_a}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" value="B">
            <label class="form-check-label" for="gridRadios2">
                {{q.option_b}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="C">
            <label class="form-check-label" for="gridRadios1">
                {{q.option_c}}
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="D">
            <label class="form-check-label" for="gridRadios2">
                {{q.option_d}}
            </label>
        </div>
        <br>
    </div>
    {% endfor %}
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>