<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Lamuni:Sign-Up</title>
</head>
<body>
    <section class="">
        <div class="flex flex-col sm:flex-row sm:space-x-12 px-4 sm:px-0">
            <!-- sign-up form -->
            <div class="flex flex-col space-y-6 sm:px-12 md:px-12 lg:px-20 py-12  bg-white sm:w-1/2">
                <h3 class="text-xl font-bold text-dark-green">Lamuni</h3>
                <h1 class="text-3xl lg:text-4xl font-bold">Create your Fiber account</h1>
                <div class="flex flex-col space-y-4">
                    <div class="flex flex-col space-y-4">
                        <label class="text-xl" for="name">Your Name</label>
                        <input class="px-3 py-3 border border-light-gray rounded-md text-light-gray focus:outline-darktext-dark-green" type="text" name="name" id="name" placeholder="Abubakar Muhd">
                    </div>
                    <div class="flex flex-col space-y-4">
                        <label class="text-xl" for="name">Email</label>
                        <input class="px-3 py-3 border border-light-gray rounded-md text-light-gray focus:outline-darktext-dark-green"  placeholder="bbkrmuhdsaddiq@gmail.com" type="email" name="email" id="email">
                       
                    </div>
                    <div class="flex flex-col space-y-4">
                        <label class="text-xl" for="name">Password</label>
                        <input class="px-3 py-3 border border-light-gray rounded-md text-light-gray focus:outline-darktext-dark-green" placeholder="At least 8 characters" type="password" name="password" id="password" >
                    </div>
                </div>
                <div class="flex items-start">
                    
                    <p class="text-base md:text-lg"> <input class="h-5 w-5 border-light-gray" type="checkbox" name="check" id="check"> By creating an account omn fiber you agree to the <span class="font-bold  text-dark-green underline underline-offset-2"> Terms & Conditions</span> </p>
                </div>
                <button class="px-6 py-4 bg-darktext-dark-green text-white font-bold rounded-md"><a href="#">Create Fiber Account</a></button>
                <div class="flex items-center justify-center">
                    <p class="text-lg">Already have an account ? <span class="font-bold text-dark-green">Sign In</span></p>
                </div>

            </div>

            <!-- Image -->
            <div class=" hidden sm:block bg-darktext-dark-green w-1/2 ">
                <div class=" hidden sm:flex flex-col py-16  items-center">
                    <img class="w-4/5" src="/img/Sign Up Image.png " alt="image">
                </div>
                
                <div class="flex flex-col items-center justify-center -mt-12 ">
                    <h3 class="text-white font-bold text-xl sm:text-4xl">Unparalleled templates </h3>
                    <p class="text-white font-light text-sm sm:text-base text-center max-w-sm mb-2"> Crafted by a team of professional designers, our templates are unparalleled n the market.</p>

                    <div class="flex space-x-2">
                        <div class="bg-white h-3 w-3 rounded-full"></div>
                        <div class="bg-light-gray h-3 w-3 rounded-full"></div>
                        <div class="bg-light-gray h-3 w-3 rounded-full"></div>
                        <div class="bg-light-gray h-3 w-3 rounded-full"></div>
                    </div>

                </div>



            </div>
        </div>
    </section>
    
</body>
</html>