<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
    <p style="color: black; font-size: xx-large; font-family:Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;"> Dear A4Gumel,</p>
    <p style="padding-left: 5em;">This is to inform you that your plan is expiring soon. Kindly, pay your monthly premium before expiration.</p>
    <p style="font-size: x-large;">Thank You</p>
    <p style="font-size: x-large;">FinancialRecord object (1)</p>
    <p style="font-size: large; color: blue;">A4Gumel</p>
    <p style="font-size: large; color: blue;">Loans.SalesRecord.None</p>
</body>
</html>