<footer class="bg-light-orange mt-10">
    <div
      class="container mx-auto px-8 py-12 flex space-y-6 sm:space-y-0 justify-between flex-col sm:flex-row sm:space-x-6"
    >
      <div class="flex flex-col space-y-8 max-w-sm">
        <div>
          <h2 class="text-xl font-bold">Lamuni</h2>
          <p class="text-xs md:text-sm text-dark-gray tracking-wide">
            With Lamuni Fsp Can Create Credit Programs For MSME's setting custom requirements and having ability to access applicants data statistically and make smart decisions
          </p>
        </div>
        <p class="text-lg text-dark-gray">
          Made with
          <span class="inline-flex items-baseline"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                clip-rule="evenodd"
              /></svg
          ></span>
          in Kano,Nigeria.
        </p>
      </div>

      <div class="flex flex-col space-y-2">
        <h2 class="md:text-lg font-bold">Site Map</h2>
        <a href="#" class="text-xs md:text-sm text-dark-gray"> Home Page</a>
        <a href="#" class="text-xs md:text-sm text-dark-gray"> Pricing</a>
        <a href="#" class="text-xs md:text-sm text-dark-gray">
          Testimonials</a
        >
        <a href="#" class="text-xs md:text-sm text-dark-gray"> Features</a>
      </div>

      <div class="flex flex-col space-y-2 md">
        <h2 class="md:text-lg font-bold">Resources</h2>
        <a href="#" class="text-xs md:text-sm text-dark-gray">Support</a>
        <a href="#" class="text-xs md:text-sm text-dark-gray">Contact</a>
        <a href="#" class="text-xs md:text-sm text-dark-gray"> FAQ</a>
      </div>

      <div class="flex flex-col space-y-2">
        <h2 class="md:text-lg font-bold">Company</h2>
        <a href="#" class="text-xs md:text-sm text-dark-gray">About</a>
        <a href="#" class="text-xs md:text-sm text-dark-gray"> Customers</a>
        <a href="#" class="text-xs md:text-sm text-dark-gray">Blog</a>
      </div>

      <div class="flex flex-col space-y-2">
        <h2 class="md:text-lg font-bold">Portfolio</h2>
        <a href="#" class="text-xs md:text-sm text-dark-gray">
          Abubakar Muhd</a
        >
        <a href="#" class="text-xs md:text-sm text-dark-gray"
          >Auwal Abubakar
        </a>
        <a href="#" class="text-xs md:text-sm text-dark-gray">
          Bukhari Auwal</a
        >
      </div>
    </div>
  </footer>