<header class="bg-white mb-10">
  <nav
    class="container mx-auto px-8 py-4 flex sm:space-x-6 items-center justify-between"
  >
    <h1 class="font-bold text-xl text-dark-green md:text-2xl">Lamuni</h1>

    <ul
      class="nav-menu first-letter flex flex-col absolute top-16 -left-full bg-white w-full text-center shadow-md sm:shadow-none border-2 border-light-orange sm:border-0 transition-all duration-300 mx-auto sm:w-auto sm:flex-row sm:static sm:space-x-6 items-center justify-between"
    >
      <li class="sm:mx-4 my-2">
        <a class="font-bold text-sm hover:text-dark-green">Loan</a>
      </li>
      <li class="sm:mx-4 my-2">
        <a
          href="{% url 'Lessons:lessons' %}"
          class="font-bold text-sm hover:text-dark-green"
          >Education</a
        >
      </li>
      <li class="sm:mx-4 my-2">
        <a class="font-bold text-sm hover:text-dark-green">Profile</a>
      </li>
      <li class="sm:mx-4 my-2">
        <a class="font-bold text-sm hover:text-dark-green">About Us</a>
      </li>
{% if request.user.is_authenticated %}
<li class="sm:mx-4 my-2">
<a href="/accounts/profile" class="font-bold text-sm hover:text-dark-green">{{ user.username |title }}'s Profile</a>
</li>
<button
class="sm:hidden px-4 py-2 bg-slate-200 rounded-md hover:text-dark-green my-2"
>
<a href="{% url 'logout' %}" class="font-bold text-sm lg:text-base"
  >Logout</a
>
</button>
{% else %}
<button
class="sm:hidden px-4 py-2 bg-slate-200 rounded-md hover:text-dark-green my-2"
>
<a href="{% url 'login' %}" class="font-bold text-sm lg:text-base"
  >Sign In</a
>
</button>
<button
class="sm:hidden text-white bg-dark-green px-4 hover:bg-green-700 py-2 rounded-md my-2"
>
<a href="/accounts/signup" class="font-bold text-sm lg:text-base"
  >Sign Up</a
>
</button>
{% endif %}
    </ul>

    <div class="hidden sm:flex space-x-6">
     {% if request.user.is_authenticated %}
     <button class="px-4 py-2 bg-slate-200 rounded-md hover:text-dark-green my-2">
    <a href="{% url 'logout' %}" class="font-bold text-sm lg:text-base">Logout</a>
    </button>
     {% else %}
     <button class="px-4 py-2 rounded-md hover:text-dark-green">
      <a href="{% url 'login' %}" class="font-bold text-sm lg:text-base"
        >Sign In</a
      >
    </button>
    <button
      class="text-white bg-dark-green px-4 hover:bg-green-700 py-2 rounded-md"
    >
      <a
        href="{% url 'users:signup' %}"
        class="font-bold text-sm lg:text-base"
        >Sign Up</a
      >
    </button>
    {% endif %}
    </div>
    <div class="block hamburger cursor-pointer sm:hidden">
      <span
        class="bar block h-1 w-6 bg-dark-black mx-auto my-1 transition-all duration-300 ease-in-out"
      ></span>
      <span
        class="bar block h-1 w-6 bg-dark-black mx-auto my-1 transition-all duration-300 ease-in-out"
      ></span>
      <span
        class="bar block h-1 w-6 bg-dark-black mx-auto my-1 transition-all duration-300 ease-in-out"
      ></span>
    </div>
  </nav>
</header>
