{% extends 'base.html' %}
{% block title %} Loans {% endblock %}

{% block content %}


<section class="mx-auto max-w-3xl  " >
    <div class="my-5 sm:my-10 mx-4">
      <a href="{% url 'loans:dashboard' %}"> <button class="py-2 px-8 bg-white border my-4 md:my-6 border-gray-200 text-green-600 rounded hover:bg-gray-100 active:bg-gray-200 disabled:opacity-50">Back</button></a>




    <div class="bg-white shadow-md rounded-lg shadow-light-gray flex flex-row items-center justify-between">
    <div class="flex flex-row items-center space-x-4"><img class=" bg-white rounded-lg bg-blend-hard-light shadow-sm shadow-light-gray w-[50px] sm:w-[100px] " src="/media/default.png" alt="photo">
      <div class="flex flex-col justify-between">
                <h3 class="text-base sm:text-lg">{{ loan.fsp }}'s Loan</h3>
                 <span class="mt-2">
                     {% if loan.is_active %}
                         <span class="bg-green-500 py-1 px-2 rounded text-white text-sm">Status: Active</span>
                     {% else %}
                         <span class="bg-red-500 py-1 px-2 rounded text-white text-sm">Status: Deactivated</span>
                     {% endif %}
                 </span>
            </div></div>

        <div class="flex items-center p-4 flex-initial">

           <a href="#"> <button class=" px-4 text-xs sm:text-base sm:px-6 py-2 rounded-lg bg-green-100 text-green-700 hover:bg-green-300 transition-all duration-150"> Apply Now</button></a>
        </div>
    </div>
    <div class="bg-white shadow-md shadow-light-gray rounded-lg flex flex-col my-10  p-4 sm:p-8">

        <div class=" flex flex-col bg-white shadow-sm shadow-light-gray p-4 sm:p-6 relative">
          {% with loan.fsp as user %}
         <img class="absolute top-0 -mt-6  rounded-lg bg-blend-lighten shadow-lg" width="50px"  src="{{ user.image.url }}" alt="">
            {% endwith %}
            <p class="text-sm text-dark-gray mt-4">{{ loan.date_created | date }}</p>
            <h3 class=" flex-none text-lg md:text-xl bold tracking-wide">{{ loan.program_title }}</h3>
            <p class="text-dark-gray ">Amount: {{ loan.amount }}</p>
            <p class="text-dark-green mt-4 sm:mt-6">Sector: {% for sector in loan.sectors.all %}{{  sector.name }}{% endfor %}, Size:{{ loan.size }}</p>

        </div>
    <div class="my-5">
        <h1 class="text-lg font-bold tracking-wider">Description</h1>
        <p class="text-sm sm:text-base tracking-wide sm:tracking-wider text-justify">
            The border property allows you to add a border to your image and specify the size, style, and color of the border. Notice that you can add multiple values for this CSS property. In this rule, you have specified a solid, red border with a width of 2px.

The border-radius property defines the radius of an element’s corners, allowing you to round the edges of an element. In this rule, you have specified 8 pixels as the size of the radius. Try changing this number to see how it affects the display of the image.

The width property defines the width of the image. In this rule, you have specified the width to be 200 pixels wide. Note that if you leave the height undefined, the height of the image will automatically adjust to maintain the original proportions of the image. Try changing both the height and width at the same time to check what happens.
        </p>
    </div>

    <div class="my-5">
        <h1 class="text-lg font-bold tracking-wider">Requirements</h1>
        <p class="text-sm sm:text-base tracking-wide sm:tracking-wider text-justify">
            The border property allows you to add a border to your image and specify the size, style, and color of the border. Notice that you can add multiple values for this CSS property. In this rule, you have specified a solid, red border with a width of 2px.

The border-radius property defines the radius of an element’s corners, allowing you to round the edges of an element. In this rule, you have specified 8 pixels as the size of the radius. Try changing this number to see how it affects the display of the image.

The width property defines the width of the image. In this rule, you have specified the width to be 200 pixels wide. Note that if you leave the height undefined, the height of the image will automatically adjust to maintain the original proportions of the image. Try changing both the height and width at the same time to check what happens.
        </p>
    </div>
    <div class="my-5">
        <h1 class="text-lg font-bold tracking-wider">Procedure</h1>
        <p class="text-sm sm:text-base tracking-wide sm:tracking-wider text-justify">
            The border property allows you to add a border to your image and specify the size, style, and color of the border. Notice that you can add multiple values for this CSS property. In this rule, you have specified a solid, red border with a width of 2px.

The border-radius property defines the radius of an element’s corners, allowing you to round the edges of an element. In this rule, you have specified 8 pixels as the size of the radius. Try changing this number to see how it affects the display of the image.

The width property defines the width of the image. In this rule, you have specified the width to be 200 pixels wide. Note that if you leave the height undefined, the height of the image will automatically adjust to maintain the original proportions of the image. Try changing both the height and width at the same time to check what happens.
        </p>
    </div>
    <div class="flex items center justify-end my-5">
        <a href="#"> <button class=" px-4 text-xs sm:text-base sm:px-6 py-2 rounded-lg bg-green-100 text-green-700 hover:bg-green-300 transition-all duration-150"> Apply Now</button></a>
    </div>
</div>

</section>







{% endblock %}